<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../element-ui/css/index.css">
    <link rel="stylesheet" href="../css/components/projectView.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div id="app">
        <div style=" width: 100%; height: 100%; ">
            <el-tree :data="projectData" :props="subviewItemProjectProps" @node-click="handleNodeClick"
                :load="loadProjectNode" lazy></el-tree>
        </div>
    </div>
</body>
<script src="../vue/vue.js"></script>
<script src="../element-ui/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                projectData: [],
                subviewItemProjectProps: {
                    children: 'children',
                    label: 'name'
                },
            }
        },
        computed: {},
        methods: {
            async loadProjectNode(node, resolve) {
                if (node.level === 0) {
                    return resolve(this.projectData)
                } else {
                    console.log(node.data.name)
                    if (node.data.isDir) {
                        const _this = this
                        window.parent.uniclient.store('get', 'currentWorkspace')
                            .then(res => {
                                res = res + "\\" + node.data.name
                                console.log(res)
                                window.parent.uniclient.file('open', res)
                                    .then(res1 => {
                                        console.log(res1)
                                        return resolve(res1)
                                    })
                                    .catch(err1 => {
                                        console.log(err1)
                                    })
                            })
                            .catch(err => {
                                console.log(err)
                            })
                    }
                }
            },
            handleNodeClick(data) {
                console.log(data)
            },
            projectDataInitialize() {
                const _this = this
                window.parent.uniclient.store('get', 'currentWorkspace')
                    .then(res => {
                        _this.projectData = window.parent.uniclient.file('open', res)
                            .then(res1 => {
                                _this.projectData = res1
                            })
                            .catch(err1 => {
                                console.log(err1)
                            })
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        },
        mounted() {
        },
        created() {
            this.projectDataInitialize()
        }
    });
</script>

</html>