<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../element-ui/css/index.css">
    <link rel="stylesheet" href="../css/components/projectView.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div id="app">
        <div style=" width: 100%; height: 100%; ">
            <el-tree :data="projectData" :props="subviewItemProjectProps" @node-click="handleNodeClick"></el-tree>
        </div>
    </div>
</body>
<script src="../vue/vue.js"></script>
<script src="../element-ui/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                projectData: [{
                    name: '一级 1',
                    children: [{
                        name: '二级 1-1',
                        children: [{
                            name: '三级 1-1-1'
                        }]
                    }]
                }, {
                    label: '一级 2',
                    children: [{
                        label: '二级 2-1',
                        children: [{
                            label: '三级 2-1-1'
                        }]
                    }]
                }],
                subviewItemProjectProps: {
                    children: 'child',
                    label: 'name'
                },
            }
        },
        computed: {},
        methods: {
            handleNodeClick(data) {
                console.log(data)
            },
            projectDataInitialize() {
                const _this = this
                window.parent.uniclient.store('get', 'currentWorkspace')
                    .then(res => {
                        _this.projectData = window.parent.uniclient.file('open', res)
                            .then(res1 => {
                                _this.projectData = res1
                                console.log(_this.projectData)
                            })
                            .catch(err1 => {
                                console.log(err1)
                            })
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        },
        mounted() {
        },
        created() {
            this.projectDataInitialize()
        }
    });
</script>

</html>